*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows:1.5fr 0.5fr 1.1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    'slider'
    'main'
    'cardspart'
    '.'
    '.'
    ;
}
/*top nav*/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 10vh;
    display: grid;
    background-color: darkgray;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 4fr 1fr 1fr ;
    grid-template-areas:
    '. navmenu signbtn userbtns' 
    ;
}
/*top nav menue*/
#navmenue{
    width: 100%;
    height: 100%;
    font-size: 18px;
    grid-area: navmenu;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
#navmenue ul {
    list-style: none;
}
#navmenue ul li{
    float: right;
    margin-right: 30px;
}
#navmenue ul li a{
    text-decoration: none;
    color: #000;
    transition: 0.3s ease color;
}
#navmenue ul li a:hover{
    color: rgb(80, 58, 58);
}
/*sign-in btn*/
#signupbtn{
    font-size: 18px;
    background-color: transparent;
    outline: none;
    height: 50%;
    width: 70%;
    margin: auto 0;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out border;
    cursor: pointer;
    grid-area: signbtn;
}
#signupbtn:hover{
    border: 1px solid #000;

} 
/*End of the nav(user options)*/
.endbar{
    grid-area: userbtns;
    margin: auto 0;
}
.endbar a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-size: 18px;
    transition: 0.3s ease color;
}
.endbar a:hover{
    color: rgb(80, 58, 58);
}
/*navbar logo*/
.logobox{
    position: fixed;
    top: 0;
    right: 15%;
    z-index: 5;
    width: 110px;
    height: 120px;
    background-color:#000;
    background-image: url(logo/white-logo.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
/*banner slider*/
.slidebox{
    grid-area: slider;
    width: 100%;
    height: 95vh;
    margin-top: 4%;
    position: relative;
}
.slides{
    height: 100%;
    width: 100%;
}
/*banners properties*/
.slideitem{
    background-color: rgb(92, 83, 83);
    background-blend-mode: multiply;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    display: none;
    color: #fff;
    position: relative;
    animation: switchslide 0.3s ease-in-out ;
}

.slideitem h1{
    position: absolute;
    right: 5%;
    bottom: 60%;
    font-size: 50px;
}
.slideitem p{
    position: absolute;
    right: 5%;
    bottom: 40%;
    font-size: 28px;
    width: 700px;
}
.slideitem a{
    position: absolute;
    right: 20%;
    bottom: 25%;
    font-size: 20px;
    padding:10px 50px;
    text-decoration: none;
    color: #fff;
    background-color: #f00;
    border: 2px solid #f00;
    transition: 0.3s ease-in-out background-color;
}
.slideitem a:hover{
    background-color: rgba(255, 0, 0, 0.795);
}
/*slides backgrounds*/
.slideitem:nth-child(1){
    background-image: url(img/1.jpg);
}
.slideitem:nth-child(2){
    background-image: url(img/2.jpg);
}
.slideitem:nth-child(3){
    background-image: url(img/3.jpg);
}
/*display class*/
.slideitem.active{
    display: block;
}
/*dots of slider*/
.dots{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    background-color: rgb(100, 88, 88);
    cursor: pointer;
}
.dots span.active{
    background-color:#f00;
}
.dots span:nth-child(1){
    margin-left: 0px;
}
.dots span:nth-child(2){
    margin-left: 5%;
}
.dots span:nth-child(3){
    margin-left: 10%;
}
/*Set an animation to slider*/
@keyframes switchslide {
    from{opacity: 0;}
    to{opacity: 1;}
}
/*main of the page*/
.main{
    grid-area: main;
    width:100%;
    height: 65vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    'title'
    'boxes'
    ;
    background-color: rgb(217 ,202 ,202);

}
/*info title setting*/
.titleof{
    grid-area: title;
    margin: 10px auto;
}
.iconbox{
    height: 80px;
    width: 80px;
    background-color: transparent;
    background-image: url(logo/icon.png);
    background-position: center;
    background-size: 100%;
}
.boxes{
    grid-area:boxes;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box{
    height: 350px;
    width: 250px;
    margin: 0 30px;
    display: grid;
    grid-template-rows: 4fr 1fr 4fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    'imgbox'
    'ttl'
    'paraf'
    ;
}
/*boxes properties*/
.boximg{
    grid-area: imgbox;
    margin: 20px auto;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #fff;
    background-position:center ;
    background-size: cover;
}
.box:nth-child(1) .boximg{
    background-image: url(img/1.jpg);
}
.box:nth-child(2) .boximg{
    background-image: url(img/2.jpg);
}
.box:nth-child(3) .boximg{
    background-image: url(img/5.jpg);
}
.box h3 {
    grid-area: ttl;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}
.box p {
    grid-area: paraf;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
}
/*bottom part of the main (shop cards)*/
.shopcards{
    grid-area:cardspart;
    width: 100%;
    height: 74vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}
.card{
    width: 300px;
    height: 400px;
    border: 1px solid transparent;
    margin: auto 60px;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    'icon'
    'cardttl'
    'cardbtn'
    ;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}
.card:hover{
    width: 320px;
    height: 420px;
    background-color: #eee;
    /*border: 1px solid rgba(150, 146, 146, 0.877);*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
     rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.cardicon{
    grid-area: icon;
    height: 150px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin: auto;
}
.card:nth-child(1) .cardicon{
    background-image: url(img/coffee-bag.png);
}
.card:nth-child(2) .cardicon{
    background-image: url(img/coffee-maker.png);
}
.card:nth-child(3) .cardicon{
    background-image: url(img/coffee-cup.png);
}
.card h2{
    grid-area: cardttl;
    margin: auto;
}
.card a{
    grid-area: cardbtn;
    margin: 20px auto;
    height: 45px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f00;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.card a:hover{
     background-color:rgba(255, 0, 0, 0.795);

}